body {
    background-color: #1d2021;
    color: #ebdbb2;
    font-family: 'Courier New', monospace;
}

.file-entry {
    cursor: pointer;
    color: #ebdbb2;
}

.file-entry:hover {
    color: #bfae95;
}
