body {
    background-color: #1d2021;
    color: #ebdbb2;
    font-family: sans-serif;
}

.file-entry {
    cursor: pointer;
    color: #ebdbb2;
    display: block;
}

.file-entry:hover {
    color: #bfae95;
}
